<aside id="sidebar" class="sidebar toggled c-overflow">
    <div class="col-sm-12">
        <label for="country">Countries</label>
        <select name="country" id="country" ng-model="$ctrl.selectedCountry"
                ng-change="$ctrl.onCountryChange()"
                class="selectpicker filters form-control">
            <option value="" >All Countries</option>                
            <option ng-repeat="country in $ctrl.countries" value="{{country}}">{{country}}</option>
        </select>
    </div>
    <div class="col-sm-12">
        <label for="project">Projects</label>
        <select name="project"  id="project" ng-model="$ctrl.selectedProject"
                ng-change="$ctrl.onProjectChange()"        
                class="selectpicker filters form-control">
            <option value="" >All Projects</option>
            <option ng-repeat="project in $ctrl.projects" value="{{project}}">{{project}}</option>
        </select>
    </div>     
</aside>
<div id="pop-container" >
    <table id="pop_table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Sl.No</th>
                <th>Country</th>
                <th>Project</th>
                <th>Month</th>
                <th>Date</th>                
                <th>Target</th>
                <th>Achieved</th>
                <th>Percentage %</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>Sl.No</td>
                <td>Country</td>
                <td>Project</td>
                <td>Month</td>
                <th>Date</th>                
                <td>Target</td>
                <td>Achieved</td>
                <td>Percentage %</td>
            </tr>
        </tfoot>
    </table>
</div>
