       <div id="header" class="clearfix">
            <ul class="header-inner">
                <li class="logo hidden-xs clearfix">
                    <img class="img img-responsive pull-left" src="img/smollan_logo.png" alt="">
                    <img  class="img img-responsive pull-right" src="img/DKSH_logo.svg" alt="">
                </li>
                <li class="pull-right">
                    <ul class="logout">
                        <li><logout></logout></li>
                    </ul>
                </li>
                <li  class="pull-right">
                    <div class="card-body card-padding tabs-panel">
                        <div role="tabpanel">
                            <ul class="tab-nav" role="tablist">
                                <li ng-repeat="tab in $ctrl.tabs"
                                    ng-class="{ 'active': $ctrl.activeTab === tab.name }">
                                  <a ui-sref="{{ tab.fullName + '({state: tab.state})' }}">
                                    {{ tab.text }}
                                  </a>
                                </li>
                            </ul>
                          
                        </div>
                    </div>
                </li>
            </ul>


            <!-- Top Search Content -->
            <div id="top-search-wrap">
                <div class="tsw-inner">
                    <i id="top-search-close" class="zmdi zmdi-arrow-left"></i>
                    <input type="text">
                </div>
            </div>
        </div>

<!--
<nav class="navbar navbar-default navbar-fixed-top clearfix"
     ng-class="{collapsed: $ctrl.collapsed}">

  <a ng-click="$ctrl.toggleCollapse()"
     class="pull-left brand">
     Brand
  </a>

  <ul class="nav navbar-nav pull-right">
    <li ng-repeat="tab in $ctrl.tabs"
        ng-class="{ 'active': $ctrl.activeTab === tab.name }">
      <a ui-sref="{{ tab.fullName + '({state: tab.state})' }}">
        {{ tab.text }}
      </a>
    </li>
    <li><logout></logout></li>
  </ul>
</nav>
-->