pop{
  
  #pop-container{

    padding-left: 288px;
    padding-right: 20px;
    margin-top: 20px;

    tfoot {
      display: none;
    }
  }

  #sidebar {
    padding-top: 30px;

    .filters {

      width: 92%;
      margin: 10px;
    }
  }


}
