promo{


  #promo-container {

    min-width: 310px;
    height: 400px;
    margin: 0 auto;
    padding-left: 290px;
    padding-right: 20px;
    margin-top: 70px;
  }

  #sidebar {
    padding-top: 30px;
    
    .filters {

      margin: 10px;
      width: 92%;      
    }

    .input-group-addon{

      background: none;
      border: none;
    }
  }
}


.bootstrap-datetimepicker-widget{
  
  table{

    td{

      span{

        &.disabled{

          background: white !important;

          &:hover{

            background: white !important;          
          }
        }
      }
    }


    td{

      &.disabled{

        background: white !important;

        &:hover{

          background: white !important;          
        }
      }
    }


    th{

      span{

        &.disabled{

          background: white !important;

          &:hover{

            background: white !important;          
          }
        }
      }
    }    
  }
}
