promo{


  #promo-container {

    margin: 0 auto;
    padding-right: 20px;
    padding-left: 290px;
    padding-right: 30px;
    text-align: center;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;


    .empty_msg{

      width: 100%;
      height: 100%;
      display: table;

      .message{

        display: table-cell;
        height: 100%;
        width: 100%;
        vertical-align: middle;

        .card{

          width: 400px;
          height: 150px;
          margin: auto;
          
          .card-header{

            h2{
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  #sidebar {
    padding-top: 30px;
    
    .filters {

      margin: 10px;
      width: 92%;      
    }

    .input-group-addon{

      background: none;
      border: none;
    }
  }
}


.bootstrap-datetimepicker-widget{
  
  table{

    td{

      span{

        &.disabled{

          background: white !important;

          &:hover{

            background: white !important;          
          }
        }
      }
    }


    td{

      &.disabled{

        background: white !important;

        &:hover{

          background: white !important;          
        }
      }
    }


    th{

      span{

        &.disabled{

          background: white !important;

          &:hover{

            background: white !important;          
          }
        }
      }
    }    
  }
}



.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

.sankey .node rect {
 cursor: move;
 fill-opacity: .9; 
 shape-rendering: crispEdges;
}

.sankey .node text {
 pointer-events: none;
 text-shadow: 0 1px 0 #fff;
}

.sankey .link {
 fill: none;
 stroke: #000;
 stroke-opacity: .2; 
}

.sankey .link:hover {
 stroke-opacity: .5; 
}

.sankey-tooltip {
 position: absolute;
 width: auto;
 background: #ddd;
 padding: 10px;
 font-size: 12px;
 font-weight: 200;
 color: #333;
 border: 1px solid #fff;
 text-align: center;
 pointer-events: none;
}


